@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Utility.ListPages

<div class="row">
    <div class="text-center">
        @for (var p = 1; p <= Model.PageCount; p++)
        {
            string fullUrl = string.Empty;
            if (Model.Url.Contains("?"))
            {
                fullUrl = Model.Url + "curPage=" + p;
            } else
            {
                fullUrl = Model.Url + "?curPage=" + p;
            }

            <a href="@fullUrl" class="btn btn-default">@p</a>
            if (p < Model.PageCount)
            {
                <span>|</span>
            }
        }
    </div>
</div>