@page
@model ServiceFinder.Pages.Errors._401Model
@{
    ViewData["Title"] = "Unauthorized";
}
<h1 class="text-danger">401 Not Authorized</h1>
<h2 class="text-danger">You're not authorized to access this page.</h2>