<li class="nav-item dropdown">
    <a class="nav-link bi bi-gear dropdown-toggle text-warning" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Admin Tools
    </a>
    <ul class="dropdown-menu">
        <li><span class="dropdown-header">Services</span></li>
        <li><a class="dropdown-item" href="/Admin/Industries">Industries</a></li>
        <li><a class="dropdown-item" href="/Admin/ServiceCategories">Service Categories</a></li>
        <li><a class="dropdown-item" href="/Admin/Provinces">Provinces</a></li>
        <li><a class="dropdown-item" href="/Admin/Cities">Cities</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><span class="dropdown-header">Accounts</span></li>
        <li><a class="dropdown-item" href="/Admin/Users/">Users</a></li>
        <li><a class="dropdown-item" href="/Admin/Subscriptions/">Subscriptions</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><span class="dropdown-header">Support Tickets</span></li>
        <li><a class="dropdown-item" href="/SupportTickets/Admin">Submitted Tickets</a></li>
    </ul>
</li>