@page
@model ServiceFinder.Pages.ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<div class="row text-center">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <img src="/images/contact-us.jpg" class="rounded img-fluid d-none d-md-block d-lg-block" alt="Contact Us" style="max-width: 50%;">
        <img src="/images/contact-us.jpg" class="rounded img-fluid d-block d-sm-none" alt="Contact Us">
    </div>
</div>

<p class ="fw-semibold lead">
    If you have any questions or need assistance, please don't hesitate to reach out to us. We're here to help!</p>

<p class="fw-semibold lead">You can contact us by creating a <a class="btn btn-sm btn-primary" href="/SupportTickets/Create">support ticket</a> </p>

<p class="fw-semibold lead">When contacting us, please include details of your inquiry, along with any specific information that can help us assist you better. Whether it's a question, feedback, or a request for assistance, we're here to address your needs.</p>

<p class="fw-semibold lead">Once we receive your inquiry, our team will promptly review your request and get in touch with you accordingly. Your satisfaction is important to us, and we look forward to assisting you with any concerns or inquiries you may have.</p>
