@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="row text-center">
    <div class="col-12 d-flex align-items-center justify-content-center">
        <img src="/images/privacy.jpg" class="rounded img-fluid d-none d-md-block d-lg-block" alt="We're here to help" style="max-width: 50%;">
        <img src="/images/privacy.jpg" class="rounded img-fluid d-block d-sm-none" alt="We're here to help">
    </div>
</div>
<p class="lead text-center">We respect your privacy</p>

<p>This Privacy Policy outlines how we handle user data on our website. Your privacy is important to us, and we are committed to protecting it.</p>
<p><strong>Data Security:</strong></p>
<p>We take the security of your data seriously. Usernames and passwords are securely encrypted, and we do not have access to your passwords. We follow best practices to ensure the safety of your login credentials.</p>
<p><strong>Account Confirmation:</strong></p>
<p>All accounts on our website require confirmation before access is granted. This additional step helps ensure that only authorized individuals can access our services.</p>
<p><strong>Data Collection:</strong></p>
<p>We do not collect personal information from our users. Your privacy is important, and we respect your data. The only information we may collect is related to your account, such as your username and email address.</p>
<p><strong>Data Deletion:</strong></p>
<p>You have the right to delete your account at any time. If you choose to do so, please contact us, and we will promptly process your request and remove your account from our system.</p>
<p>
    <strong>
        Cookie Consent:
    </strong>
</p>
<p>
    We use cookies to enhance your experience and provide you with the best possible service. Cookies are small text files that help us understand how you interact with our website and improve its functionality.
    By continuing to use our website, you consent to the use of cookies as described in our Cookie Policy. We respect your privacy, and your information is kept secure.
</p>
<p><strong>Contact Us:</strong></p>
<p>If you have any questions or concerns about our privacy policy or data handling practices, please feel free to <a href="/ContactUs">contact us</a>.</p>
<p>We value your trust and are dedicated to providing a secure and respectful environment for all users.</p>
